.md-ellipsis {
    font-family: 'Courier', monospace;
    color: cyan;
}

.md-typeset h1 {
    color: white;
    font-weight: bold;
    font-family: 'Roboto', monospace;
}

.md-typeset h2 {
    color: white;
    font-weight: 600;
}

.md-typeset h3 {
    color: white;
    font-weight: 550;
}